{
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "prettier",
    "jest",
    "@typescript-eslint"
  ],
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "prettier/@typescript-eslint",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "no-underscore-dangle": 0,
    "@typescript-eslint/no-explicit-any": 0,
    "@typescript-eslint/explicit-function-return-type": 0,
    "semi": [
      "error",
      "never"
    ]
  }
}
